<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
  <body>
    <div style="overflow: auto;">

      <p style="display: none; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
        The best public forum on the planet!!!
      </p>

      <div style="background-color: #f6f6f6; min-height: 504px; line-height: 1.6; margin: auto; padding: 10%; padding-top: 4%; width: 70%; text-align: center; border-radius: 10px 10px 10px 10px;">

        <div style="background-color: #fff;font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size: 14px; font-weight: normal; display: block; margin: auto; max-width: 80%; padding: 10%;vertical-align: top; text-align: left; border-radius: 10px 10px 10px 10px;">

            <h1 style="color: #715da6; margin: 0;">Welcome To Wallie</h1>
            <p>Hi {{ first_name }},</p>
            <div style="color: #444">
                <p>
                  Thank you for signing up on Wallie. The premier internet forum. Enjoy!
                </p>
            </div>
                <p style="margin: 0; margin-bottom: 15px; padding: 0; color: #444;">Click the button below to activate your Wallie account.
                </p>

            <div style="border-collapse: separate; border-spacing: 0; width: auto; margin-bottom: 15px; text-align: left; vertical-align: top;">

              <a href="{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}" style="background-color:#715da6; border: solid 1px #715da6; border-color: #715da6; border-radius: 5px; color: #fff; display: inline-block; font-size: 14px;font-weight: bold; margin: 0; padding: 12px 25px; text-decoration:none;text-transform:capitalize" target="_blank"> ACTIVATE</a>

          <p style="color: #444">Thanks,</p>
          <p style="color: #444">Wallie Team</p>
          </div>

        </div>
        <p align="center" style="font-size:13px; color: #A9A9A9;">Please disregard this email if you did not signup on Wallie.</p>
      </div>
    </div>
  </body>
</html>
